@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* Mini Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
:root{
    --sky-top: #6e2592;
    --sky-bottom: #fcb4b4;
    --mountain1: #F9604E;
    --mountain1-shadow: #F25341;
    --mountain2: #FF745D;
    --mountain2-shadow: #ED5D45;
    --mountain3: #DB2E3C;
    --mountain3-shadow: #CC2330;
    --mountain4: #7B062F;
    --mountain4-shadow: #6B0228;
    --mountain5: #52042C;
    --mountain5-shadow: #4A0428;
    --forest1: #990738;
    --forest2: #7C062D;
    --forest3: #54042C;
    --forest4: #3D0321;
    --forest5: #2F0C29;
    --primary-color: #20003A;
    --secondary-color: #3E7A57;
    --tertiary-color: #AB5E00;
    --card: rgba(255,255,255,.4);
    --shadow-card: rgba(255,255,255,.6);
    --links: #fffc;
    --skills: #fff8;
    --nav: #6E259280;
    --nav-text: white;

    font-size: 18px;
    --font-size-base: clamp(1.25em, 0vw + 1.25em, 1.25em);
    --font-size-p: clamp(0.778rem, 1vw + 0.5rem, 1.111rem);
    --font-size-h3: clamp(1rem, 1vw + 0.75rem, 1.333rem);
    --font-size-h2: clamp(1.2em, 2vw, 1.6em);
    --font-size-h1: clamp(1.8em, 2vw + 1em, 2.5em);
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--sky-top);
    background: linear-gradient(350deg, var(--sky-bottom) 0%, var(--sky-top) 100%);
    font-family: 'Rubik', Helvetica, sans-serif;
    color: var(--font-color);
}
@media (max-width: 450px){
    :root{font-size: 14px;}
}
.content{
    position: absolute;
    z-index: 1;
    width: clamp(450px, 80%, 1200px);
    height: 90vh;
    background-color: var(--card);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 8px var(--shadow-card);
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-snap-type: y mandatory;
}
.content::-webkit-scrollbar{
    display: none;
}
h1{
    font-size: var(--font-size-h1);
    margin-block: .8em;
    color: var(--primary-color);
    text-shadow: 3px 3px var(--tertiary-color);
}
h2{
    font-size: var(--font-size-h2);
    margin-block: .7em;
    color: var(--secondary-color);
}
h3{
    font-size: var(--font-size-h3);
}
p{
    font-size: var(--font-size-p);
}
.flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}
.text p{
    margin-bottom: 25px;
}
.networks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}
.networks a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    aspect-ratio: .87;
    border-radius: 10px;
    background-color: var(--links);
    box-shadow: 3px 3px 6px #0003;
    transition: all .3s ease-in-out;
}
.networks a:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #0005;
}
.networks img{
    width: 80px;
    max-width: 45vw;
}
@media (max-width: 700px) or (max-height: 700px){
    .networks a{width: 70px;}
    .networks img{width: 40px;}
    .networks p{font-size: .8em;}
}
.landscape{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}
.landscape__layer{
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}
.landscape__image{
    bottom: 0;
    left: 50%;
    max-height: 130%;
    max-width: 200%;
    min-width: 100%;
    position: absolute;
    transform: translate(-50%);
    width: 2000px;
}
.landscape__image svg{
    display: block;
    height: auto;
    max-width: 100%;
}
[class^="mountain"],[class^="forest"]{
    position: absolute;
    bottom: 0;
}
.mountain1{
    fill: var(--mountain1);
}
.mountain1-shadow{
    fill: var(--mountain1-shadow);
}
.mountain2{
    fill: var(--mountain2);
}
.mountain2-shadow{
    fill: var(--mountain2-shadow);
}
.mountain3{
    fill: var(--mountain3);
}
.mountain3-shadow{
    fill: var(--mountain3-shadow);
}
.mountain4{
    fill: var(--mountain4);
}
.mountain4-shadow{
    fill: var(--mountain4-shadow);
}
.mountain5{
    fill: var(--mountain5);
}
.mountain5-shadow{
    fill: var(--mountain5-shadow);
}
.forest1{
    fill: var(--forest1);
}
.forest2{
    fill: var(--forest2);
}
.forest3{
    fill: var(--forest3);
}
.forest4{
    fill: var(--forest4);
}
.forest5{
    fill: var(--forest5);
}